*, *::before, *::after{
box-sizing: border-box;
margin: 0;
}
html{
    width: 100vw;
}
body{

  min-height: 450px;
  height: 100vh;
  margin: 0;
background:
      radial-gradient(circle at 50% 0,
        rgba(7, 216, 253, 0.5),
        rgba(255,0,0,0) 70.71%),
      radial-gradient(circle at 6.7% 75%,
        rgba(0,0,255,.5),
        rgba(0,0,255,0) 70.71%),
      radial-gradient(circle at 93.3% 75%,
        rgba(73, 226, 124, 0.5),
        rgba(21, 72, 240, 0.233) 70.71%);
  color: white;
  font-family: 'Nunito', sans-serif;
}

button, inputm select, textarea{
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  letter-spacing: inherit;
}

.todo-list{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  width: 320px;
  height: 500px;
  background:#fff;
  border-radius: 10px;
  box-shadow: 0 7px 30px rgba(62, 9, 11, .3);
}

.cover-img .cover-inner{
  background: url(./assets/background.jpg);
  height: 190px;
  background-size: cover;
  background-position: 10% 20%;
border-top-left-radius: 10px;
border-top-right-radius: 10px;
position: relative;
}

.cover-img .cover-inner::after{
  background:rgba(0, 0, 0, .3);
content:'';
top: 0;
left: 0;
position: absolute;
width: 100%;
height: 100%;
border-top-left-radius: 10px;
border-top-right-radius: 10px;
}

.cover-img h3{
  
  text-align: center;
  width: 300px;
  position: absolute;
left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  z-index: 10;
  text-transform: uppercase;
  font-size: 2.3rem;
  font-weight: 700;
  
}

.content{
  padding: 10px 20px;
}
.content form{
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
  padding: 0 10px 0 5px;
  border-bottom: 1px solid #8e979c;
}
.content form > * {
  background: transparent;
  border: none;
  height: 35px;
}
.content input[type='text']{
  padding: 0 5px;
  font-weight: 700;
  font-size: 1.2rem;
  color: #6c717b;
  outline: none;
}
.content .input-buttons a{
  text-decoration: none;
}
.content .input-buttons i{
  margin-top: 5px;
  font-size: 20px;
  color: #8e979c;
}

.content ul.todos{
  margin-left: 0;
  padding: 0;
  letter-spacing: none;
  height: 220px;
  overflow: auto;
}
.content li{
  user-select: none;
  
  display: flex;
  justify-content: space-between;
}
content li i {
  color: #6c717b;
font-size: 15px;
cursor: pointer;
padding: 5px 10px;}

.cover-inner{
position: relative;
}

.js-form{
  display: flex;
  flex-direction: column;
  width: 220px;
  position: absolute;
  bottom: 0px;
  left: 50%;
  transform: translateX(-50%);
text-align: center;
z-index: 10;
}
.js-form input{
  border: none;
  
  background: transparent;
  cursor: pointer;
  color: white;
  transform: translateY(-50%);
}
.js-form input::placeholder{
  color: white;
  text-align: center;
  
}

.js-form input:focus{
  outline: none;
}

.js-form span{
 font-size: 15px;
  transform: translateY(-50%);
  

}

.hidden{
  display: none;
}

ul{
  color: black;
}
*{
  
}

ul{
  padding: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;

}
li{
  width: 100%;
color: #44474c;;}
ul li div>span:first-child, span:last-child{
  cursor: pointer;

}

li > span{
  font-weight: bold;}
/* 
.done{
  color: lightgrey;
  text-decoration: line-through;
} */

.js-form > span > span i{
  font-size:  10px;
  color: rgba(255, 255, 255, 0.7);
  margin-left: 10px;
}

ul>li{
  margin-bottom: 10px;
}